
@font-face {
    font-family: 'Sentient';
    src: url('/Sentient-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sentient';
    src: url('/Sentient-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }